body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  color: #333;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.15rem;
  padding: 1rem;
}

code {
  margin: 0;
}

pre {
  background-color: #f4f4f4;
  padding: 0;
  overflow-x: auto;
  border-radius: 5px;
}
